$_color_red: #ee2852;
$_color_blue: #2FA1DA;
$_color_orange: #F57B51;
$_color_green: #FEBAC6;
$_color_yellow: #FBB845;

$color-alpha: #F85528;
$color-beta: #F01159;
$color-charlie: #012844;
$color-delta: #f5f5f5;
$color-gamma: #E4E3E5;
$color-omega: #939498;

$color-sidebar: $color-charlie;